<!DOCTYPE html>
<html lang="en">
<%- include('./partials/_head.ejs', {page: "Error"})%>
<body class="d-flex flex-column justify-content-center align-items-center align-middle mt-3">
    <h1 class="text-dark text-center fw-bolder display-1 text-warn">⚠️ 404 Not Found </h1>
    <h2> Sorry we could not find the page you are looking for.</h2>
  </div>
</body>
</html>