<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/_head.ejs', {page: "Dashboard"})%>
<body>
    <section class="left">
        <button type="button" class="btn btn-primary">Tweet</button>
    </section>
    <section class="center">
        <article>
            <a href="http://"></a>
            <form action="" method="post">

                <button type="button" class="btn btn-primary">Tweet</button>
            </form>
        </article>

    </section>
    <section class="right">

    </section>
    
</body>
</html>