@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
  box-sizing: border-box;
}

:root {
  --primary: rgb(74, 153, 233);
  --neutralgrey: rgb(209, 217, 221);
  --lightgrey: rgb(230, 230, 230);
  --lightestgrey: rgba(240, 240, 240, 0.753);
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

// Index home page
.container { 
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.left-side {
  width: 790px;
  padding: 0;
  margin: 0;

  img {
    width: 790px;
    padding: 0;
    margin: 0;
  }
}

.right-side {
  width: 850px;
  margin-left: 30px;
  text-align: left;

  i {
    margin: 80px 0px;
    font-size: 3.3em;
    color: var(--primary);
  }

  h2 {
    font-size: 68px;
    font-weight: 900;
  }
  h3 {
    margin-top: 20px;
    font-size: 32px;
    font-weight: 900;
  }

  p {
    margin: 0;
  }
  
  .buttons {
    margin: 20px 0;
    width: 300px;
    border-radius: 20px;
    background-color: white;
    border: 1px solid var(--neutralgrey);
  }


  button {
    transition: background-color 0.5s;
  }

  button:hover {
    background-color: var(--lightgrey);
  }
  footer {
    h6 {
      margin: 0 auto;
      line-height: 1.5;
      text-align: center;
    }
    
  }  
}

// Sign Up Modal
#btnClose {
  margin: 10px;
  padding: 0;
}

.modal-dialog{
  width: 800px;

  i {
    margin: 0px auto;
    font-size: 2em;
    color: var(--primary);
  }

  button {
    border-radius: 25px;
    padding: 10px 30px;
  }
}

#modal {
  border-radius: 20px;
}

#modal-header {
  border: none;
}


//Dashboard

#tweetIndex {
  width: 100vw;
  height: 100vh;

.row {
  height: 100%;
}

section {
  height: 100%;
}

// Tweets Nav Bar
}

  #leftMenu {
    font-weight: bold;
    color: #1b1f24;
    position: relative;

    .nav-link {
      color: #1b1f24;
      text-decoration: none;
    }
    
    button{
      border-radius: 20px;
      background-color: var(--primary);
      border: 1px solid var(--primary);
      color: white;
    }

    i {
      font-size: 1.5em;
      margin: 5px 10px;
    }

    .dropup {
      position: absolute;
      bottom: 0;
      width: 90%;
      padding: 10px;
    }
  }

// Tweets Middle Section

#tweetSection {

  input {
    border-radius: 20px;
    background-color: var(--primary);
    border: 1px solid var(--primary);
    color: white;
    font-weight: bold;
    width: 13%;
  } 

  a {
    text-decoration: none;
    color:black;
  }

  button {
    background-color: white;
  }

  .card.rounded-0 {
    border: 1px solid var(--lightestgrey);
  }

  h5 {
    font-size: 16px;
  }
  #avatar {
    width: 50px;
    border-radius: 40px;
    margin-right: 10px;
  }
}
