@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  box-sizing: border-box;
}

:root {
  --primary: rgb(74, 153, 233);
  --neutralgrey: rgb(209, 217, 221);
  --lightgrey: rgb(230, 230, 230);
  --lightestgrey: rgba(240, 240, 240, 0.753);
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

.container {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.left-side {
  width: 790px;
  padding: 0;
  margin: 0;
}
.left-side img {
  width: 790px;
  padding: 0;
  margin: 0;
}

.right-side {
  width: 850px;
  margin-left: 30px;
  text-align: left;
}
.right-side i {
  margin: 80px 0px;
  font-size: 3.3em;
  color: var(--primary);
}
.right-side h2 {
  font-size: 68px;
  font-weight: 900;
}
.right-side h3 {
  margin-top: 20px;
  font-size: 32px;
  font-weight: 900;
}
.right-side p {
  margin: 0;
}
.right-side .buttons {
  margin: 20px 0;
  width: 300px;
  border-radius: 20px;
  background-color: white;
  border: 1px solid var(--neutralgrey);
}
.right-side button {
  transition: background-color 0.5s;
}
.right-side button:hover {
  background-color: var(--lightgrey);
}
.right-side footer h6 {
  margin: 0 auto;
  line-height: 1.5;
  text-align: center;
}

#btnClose {
  margin: 10px;
  padding: 0;
}

.modal-dialog {
  width: 800px;
}
.modal-dialog i {
  margin: 0px auto;
  font-size: 2em;
  color: var(--primary);
}
.modal-dialog button {
  border-radius: 25px;
  padding: 10px 30px;
}

#modal {
  border-radius: 20px;
}

#modal-header {
  border: none;
}

#previewImage {
  width: 70px;
  height: 70px;
  margin-bottom: 15px;
}

#tweetIndex {
  width: 100vw;
  height: 100vh;
}
#tweetIndex .row {
  height: 100%;
}
#tweetIndex section {
  height: 100%;
}

#leftMenu {
  font-weight: bold;
  color: #1b1f24;
  position: relative;
}
#leftMenu .nav-link {
  color: #1b1f24;
  text-decoration: none;
}
#leftMenu button {
  border-radius: 20px;
  background-color: var(--primary);
  border: 1px solid var(--primary);
  color: white;
}
#leftMenu i {
  font-size: 1.5em;
  margin: 5px 10px;
}
#leftMenu .dropup {
  position: absolute;
  bottom: 0;
  width: 90%;
  padding: 10px;
}

#tweetSection {
  overflow: auto;
}
#tweetSection input {
  border-radius: 20px;
  background-color: var(--primary);
  border: 1px solid var(--primary);
  color: white;
  font-weight: bold;
  width: 13%;
}
#tweetSection a {
  text-decoration: none;
  color: black;
}
#tweetSection button {
  background-color: white;
}
#tweetSection .card.rounded-0 {
  border: 1px solid var(--lightestgrey);
}
#tweetSection h5 {
  font-size: 16px;
}
#tweetSection img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border: 1px solid var(--lightgrey);
}
#tweetSection #commentLink {
  margin-left: auto;
}
#tweetSection #time {
  color: rgba(139, 139, 139, 0.89);
  margin-left: 10px;
}
#tweetSection .buttonDiv {
  margin-left: auto;
}
#tweetSection #delete {
  margin-left: 10px;
  color: red;
}

#searchSection input {
  border-left: 0;
}

/*# sourceMappingURL=main.css.map */
