<nav class="col-3 bg-white" id="leftMenu">
        <section class="d-flex flex-column p-3 bg-white">
            <a href="/tweets" class="">
                <i class="fab fa-twitter icons" id="twitter"></i>
            </a>
        <div class="d-flex flex-row align-items-between">
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                    <a href="/tweets" class="nav-link"><i class="fas fa-home"></i> Home </a>
                    <a href="/tweets" class="nav-link"><i class="fas fa-th-list"></i> Tweets </a>
                    <a href="/user" class="nav-link"><i class="far fa-user"></i> Account </a>
                </li>
            </ul>
        </div>
        <button type="button" class="btn btn-primary mt-3 fw-bold">Tweet</button>

            <footer class="dropup">
                <hr>
                <a class="d-flex align-items-center justify-content-around text-decoration-none dropdown-toggle" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="<%= image %>" alt="" width="32" height="32" class="rounded-circle me-2">
                    <span><%= name %></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-light dropdown-menu-end text-small shadow" aria-labelledby="dropdownMenuButton">
                    <div class="d-flex flex-row justify-content-start align-items-center p-2">
                        <img src="<%= image %>" alt="" width="32" height="32" class="rounded-circle me-2">
                        <span><%= name %></span>
                    </div>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="/logout">Sign out</a></li>
                </ul>
            </footer>
        </section>
</nav>